bin/
obj/
out/

.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.binlog
msbuild.log
msbuild.err
msbuild.wrn

[Tt]est[Rr]esult*/
[Cc]overage*/
*.coverage
*.coveragexml
*.trx

*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

_ReSharper*/
*.DotSettings.user

.DS_Store
Thumbs.db
desktop.ini

publish/
*.publishsettings
